<meta name="viewport" content="width=500, initial-scale=1"> 

<div class="BorderMargin">
<h1>Welcome to the DeskServer</h1>

<form action="/desk/up" method="post">
<button type="submit" class="button">Desk Up</button>

<button type="submit" formmethod="post" formaction="/desk/down" class="button button3">Desk Down</button>
</form>

<form action="/windows/calc" method="post">
    <button type="submit" class="button">Start calculator</button>
    
    <button type="submit" formmethod="post" formaction="/windows/notepad" class="button button3">Start Notepad</button>
    </form>
<a>Status: <%=status %></a>
</div>